.cabecalho{
    background-color: blue;
    color:rgba(33, 64, 201, 0.959)
    text-align: center;
    margin: auto;
    max-width: 2000;
    padding: 16px;
}


.principal{

background-color: blue;
color:rgb(0, 255, 115)



}



